<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('由') %> <a target="_blank" href="http://hexo.io/">Hexo</a> x <a target="_blank" href="https://zhwangart.github.io">Ocean</a> <%= __('强力驱动') %></li>
      <!--<li><a target="_blank" href="https://zhwangart.github.io">Ocean by zhwangart</a> <%= __('主题') %></li>-->
      <li>使用 <a target="_blank" href=<%= config.license_url %>><%= config.license %></a><%= __(' 许可协议') %></li>
      <li>使用 <a target="_blank" href="https://analytics.google.com">Google Analytics</a> 统计匿名信息</li>
      <!--
      <li><a href="/"><%= config.author %></a></li>
      -->
    </ul>
  </div>
</footer>
