<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()) {
    title = __('archive_a');
    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  } else if (is_category()) {
    title = __('category') + ': ' + page.category;
  } else if (is_tag()) {
    title = __('tag') + ': ' + page.tag;
  }
  /** This Script read page.tags.data['xxx'] and join them to a string. **/
  
  var db_p, tag_to_key = '';
  if (page.tags){
    for(db_p in page.tags.data) {
      tag_to_key = tag_to_key + page.tags.data[db_p].name + ',';
    }
  }
  %>
  <% if (page.keywords){ %>
    <meta name="keywords" content="<%= tag_to_key %><%= page.keywords %>,<%= config.keywords %>">
  <% } else if (config.keywords){ %>
    <meta name="keywords" content="<%= tag_to_key %><%= config.keywords %>">
  <% } %>
  <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
  <% } else if (config.description && is_archive()){ %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    <% if (title){ %><%= title %> |
    <% } %>
    <%= config.title %></title>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <% if (theme.fancybox){ %>
    <%- css('fancybox/jquery.fancybox.min') %>
  <% } %>
  <%- js('/js/pace.min.js') %>
  <!--
  <%- js('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js') %>
  <%- css('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css') %>
  <%- js('https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js') %>
  <%- css('https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css') %>
  -->
</head>
